@using FileManager.Model
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
     ViewData["Title"] = "Log in";
     Layout = "_Account";
}

@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)

     <div class="form-group">
          <label for="usernameTb">@Html.LabelFor(model => model.Email) <span class="glyphicon glyphicon-question-sign"></span></label>

          @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg text-center", id = "usernameTb", placeholder = "Enter your username" })
          <span class="badge">@Html.ValidationMessageFor(model => model.Email) </span>
     </div>

     <div class="form-group">
          <label for="passwordTb">@Html.LabelFor(model => model.Password) <span class="glyphicon glyphicon-question-sign"></span></label>

          @Html.TextBoxFor(model => model.Password, new { @class = "form-control input-lg text-center", id = "passwordTb", placeholder = "Enter your account password", type = "password" })

          <span class="badge">@Html.ValidationMessageFor(model => model.Password) </span>
     </div>

     <p>
          <button class="btn btn-lg btn-primary">Log On</button>
     </p>
}

<div>
     <p>Don't have an account yet? <a href="/Account/Register">Join Now</a></p>
</div>