@model IEnumerable<FileManager.Model.History>

@{
     ViewBag.Title = "Histories";
}


<div id="listHeader">
     <div class="container-fluid">
          @using (Html.BeginForm("Index", "Histories", FormMethod.Get, new { @class = "container-fluid" }))
          {
               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <h2 class="text-primary">
                         <span class="fa fa-history"></span> Histories
                         <label class="badge">@Model.Count()</label>
                    </h2>
                    <p>change history </p>
               </div>

               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">

               </div>
               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">


               </div>

               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

               </div>

               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

               </div>
          }
     </div>
</div>



<div id="listCon">
     <div class="container-fluid">
          <table class="table table-condensed table-hover table-striped table-bordered table-responsive">
               <thead>
                    <tr>
                         <th>
                              S/N
                         </th>
                         <th>
                              User Name
                         </th>
                         <th>
                              File Name
                         </th>
                         <th>
                              Date
                         </th>
                    </tr>
               </thead>
               <tbody>
                    @foreach (var item in Model.OrderBy(e => e.Date))
               {
                         <tr>
                              <td></td>
                              <td>
                                   <strong>
                                        @item.AppUser.Firstname @item.AppUser.Lastname
                                   </strong>
                              </td>
                              <td>
                                   @item.File.Name
                              </td>
                              <td>
                                   @item.Date
                              </td>
                         </tr>
                    }
               </tbody>



          </table>
     </div>
</div>